#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.codacy/*

#openCFS
cylinder_standard_way/3_ca/results_hdf5/propagation.cfs
openCFS/history/*
openCFS/results_hdf5/propagation.cfs
openCFS/results_hdf5/propagation_dpdt.cfs

#openFoam
cylinder_standard_way/1_cfd/cfd/processor0/*/
cylinder_standard_way/1_cfd/cfd/processor1/*/
cylinder_standard_way/1_cfd/cfd/processor2/*/
cylinder_standard_way/1_cfd/cfd/processor3/*/

*:Zone.Identifier
*.info.xml